.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .navbar{
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
  }

  nav{
    flex:1;
    padding-left: 60px;
    
  }

  nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
  }